.his-shop-active{
	background-color: #0076ff !important;
	color: #fff !important;
}
img[src=""] {
   display: none;
}
  .lab-active-shop {
    /*position: absolute;
    z-index: 1;
    margin-top: -13px;
    margin-left: 5px;
    background-color: #fff;*/
    color: #4CAF50;
}
.lab-none-active-shop {
   /* position: absolute;
    z-index: 1;
   	margin-top: -10px;
    margin-left: -0px;*/
    color: #fb0006;
}
.time-post-shop-his {
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #333;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 0px;
    background-color: #fff;
    margin-top: -100px;
}
.time-post-shop {
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #333;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 0px;
    background-color: #fff;
/*    margin-top: -30px;*/
    margin-top: -15px;
}
.edit-post-shop {
      /*margin-right: 10px; */
    border: 1px solid #3b5998 !important;
    /* padding: 6px !important; */
    /* position: absolute; */
    z-index: 1;
    /* left: 20px; */
    background-color: #fff;
    /* margin-top: -28px; */
}
.box-shop{
  background-color: #fff;	
  padding: 5px 10px;
  border-radius:10px;
  border: 1px solid #3b5998;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.font-title{
	font-weight: bold;
	font-size: 17px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 17px;
}
::-moz-placeholder { /* Firefox 19+ */
 font-size: 17px;
}
:-ms-input-placeholder { /* IE 10+ */
 font-size: 17px;
}
:-moz-placeholder { /* Firefox 18- */
 font-size: 17px;
}